{#-------------------------------------------------------------------#}
{#-------- AUTHOR: DIANA NICHVOLODOVA | STUDENT ID: 20165015 --------#}
{#-------------------------------------------------------------------#}
{% extends 'base.html' %}

{% block content %}

<div class="team-projects-page">
    <h1 class="team-projects-title">Projects</h1>
    <p class="team-projects-subtitle">Explore the projects our team is working on.</p>

    <div class="team-projects-list">
        {% for project in projects %}
        <div class="card card-item">
            <h2 class="team-project-name">{{ project.name }}</h2>
            <p class="team-project-description">{{ project.description }}</p>
        </div>
        </div>
        {% empty %}
        <p>No projects found for this team.</p>
        {% endfor %}
    </div>

{% endblock %}