{% extends 'base.html' %}


{% block content %}
    <div class="page-stack">
        <h1 class="page-title">Team Profile</h1>
        <p class="muted-text">Details about the team.</p>

        <div class="card">
            <p><strong>Team ID:</strong> {{ team.team_id }}</p>
            <p><strong>Team Name:</strong> {{ team.team_name }}</p>
            <p><strong>Mission Statement:</strong> {{ team.mission_statement }}</p>
            <p><strong>Workstream MF:</strong> {{ team.workstream_mf }}</p>
            <p><strong>Focus Areas:</strong> {{ team.focus_areas }}</p>
            <p><strong>Skills/Technologies:</strong> {{ team.skills_technologies }}</p>
            <p><strong>Slack Channels:</strong> {{ team.slack_channels }}</p>
            <p><strong>Standup Details:</strong> {{ team.standup_details }}</p>
            <p><strong>Agile Practices:</strong> {{ team.agile_practices }}</p>
            <p><strong>Team Wiki:</strong> {{ team.team_wiki }}</p>
            <p><strong>Status:</strong> {{ team.status }}</p>
            <p><strong>Department:</strong> {{ team.dept.dept_name }}</p>
            <p><strong>Lead User:</strong> {{ team.lead_user }}</p>
        </div>
    </div>

{% endblock %}